body {
    background-color: #ffffff; /*white*/
    font-family: Verdana;
    color: #000000; /*black*/
    text-align: center;
}
.noShadow {
    border: 0;
}
option, select {
    font-size: 20px;
}
.noDisplay {
    display: none;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 1; /* make things invisible upon start */   
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */  
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/  
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-out {
    opacity: 0;
    -webkit-animation: fadeOut ease-in 0;
    -moz-animation: fadeOut ease-in 0;
    animation: fadeOut ease-in 0;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
@keyframes fadeIn1 {
    from {
        opacity: 0
    }
    ;
    to {
        opacity: 1;
    }
    ;
}
.fade-in1 {
    opacity: 1;
    animation: fadeIn1 1s ease-in 1 forwards;
    display: initial;
}
.is-paused {
    animation-play-state: paused;
}
.pos1 {
    position: absolute;
    margin-left: 55px;
}
.pos2 {
    position: absolute;
    margin-left: -1px;
}
.pos3 {
    margin-left: -100px;
}
.pos4 {
    position: absolute;
}
.shadow {
    -moz-box-shadow: 0 1.5px 0 rgba(255, 255, 255, .5), 0 1.5px 0 rgba(0, 0, 0, .07) inset; /*firefox*/    
    -webkit-box-shadow: 0 1.5px 0 rgba(255, 255, 255, .5), 0 1.5px 0 rgba(0, 0, 0, .07) inset; /*chrome*/
    box-shadow: 0 1.5px 0 rgba(255, 255, 255, .5), 0 1.5px 0 rgba(0, 0, 0, .07) inset; /*standard*/    
    border-color: #1e90ff; /* dodgerblue */    
    background-color: #ffffff;
    border-radius: 0px;
}
/*
ul {
	padding: 0;
}
ul li {
	background: #efefef; 
	list-style-type: none;
	padding: 10px;
	margin-bottom: 10px;
}
ul li .edit {
	display: none;
}

ul li.edit .edit {
	display: initial;
}
ul li.edit .noedit {
	display: none;
}*/

#div,#give {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
textarea, #name {
    border: 1px solid #666;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}
.absolute {
    position: absolute;
}